@charset 'UTF-8';

@media screen and (min-width: 768px){
    i#burguer{
        display: none;
    }

    menu{
        display: block;
    }
}

@media screen and (min-width: 993px){
    menu> ul > li{
        display: inline-block;
    }
    main{
        max-width: 900px;
    }
}